* {
	margin: 0;
	padding: 0;
	box-sizing: border-box;
	font-family: 'Montserrat', sans-serif;
}

#navlogo {
	width: 10%;
}
/*landing page*/

#homepage {
	background-color: #000000;
	background-image: url("data:image/svg+xml,%3Csvg xmlns='http://www.w3.org/2000/svg' width='100%25' height='100%25' viewBox='0 0 1600 800'%3E%3Cg %3E%3Cpolygon fill='%23220000' points='1600 160 0 460 0 350 1600 50'/%3E%3Cpolygon fill='%23440000' points='1600 260 0 560 0 450 1600 150'/%3E%3Cpolygon fill='%23660000' points='1600 360 0 660 0 550 1600 250'/%3E%3Cpolygon fill='%23880000' points='1600 460 0 760 0 650 1600 350'/%3E%3Cpolygon fill='%23A00' points='1600 800 0 800 0 750 1600 450'/%3E%3C/g%3E%3C/svg%3E");
	background-attachment: fixed;
	background-size: cover;
}

#homecarousel {
	height: 100vh;
}
#jumbo-land {
	height: 100vh;
	background-image: url("../images/pressstart.gif");
	background-size: cover;
	padding-top: 35%;
	border-radius: 0;
}

#h1-landing {
	font-weight: bolder;
	font-family: 'Permanent Marker', sans-serif;
	color: black;
}
.btn {
	width: 25%;
}
.btn a {
	color: white;
	text-decoration: none;
}

/*end landing page*/

/*Homepage*/


/*end homepage*/

/*About page*/

#jumbotron-About {
	background-color: #141414;
	height: 20vh;
	border-radius: 0;
	color: #eee;
	padding: 5vh;
}

#landing-About {
	font-size: 5em;
	padding-top: 0;
}

#About {

}
.card-kitchen {
	margin-bottom: 25px;
	margin-top: 25px;
}
/*end About page*/

/*gallery page*/

#archive {
	background-color: #550a13;
	background-image: url("data:image/svg+xml,%3Csvg xmlns='http://www.w3.org/2000/svg' width='100%25' height='100%25' viewBox='0 0 100%25 100%25'%3E%3Cdefs%3E%3ClinearGradient id='a' x1='0' x2='0' y1='0' y2='100%25' gradientUnits='userSpaceOnUse'%3E%3Cstop offset='0' stop-color='%238e050a'/%3E%3Cstop offset='0.02' stop-color='%23550a13'/%3E%3Cstop offset='0.02' stop-color='%23570a13'/%3E%3Cstop offset='0.032' stop-color='%23550a13'/%3E%3Cstop offset='0.032' stop-color='%23b70408'/%3E%3Cstop offset='0.056' stop-color='%23550a13'/%3E%3Cstop offset='0.056' stop-color='%2385060c'/%3E%3Cstop offset='0.07' stop-color='%23550a13'/%3E%3Cstop offset='0.07' stop-color='%23580a12'/%3E%3Cstop offset='0.1' stop-color='%23550a13'/%3E%3Cstop offset='0.1' stop-color='%2398050a'/%3E%3Cstop offset='0.126' stop-color='%23550a13'/%3E%3Cstop offset='0.126' stop-color='%237e060c'/%3E%3Cstop offset='0.142' stop-color='%23550a13'/%3E%3Cstop offset='0.142' stop-color='%23580911'/%3E%3Cstop offset='0.159' stop-color='%23550a13'/%3E%3Cstop offset='0.159' stop-color='%23630810'/%3E%3Cstop offset='0.17' stop-color='%23550a13'/%3E%3Cstop offset='0.17' stop-color='%23710306'/%3E%3Cstop offset='0.197' stop-color='%23550a13'/%3E%3Cstop offset='0.197' stop-color='%23900204'/%3E%3Cstop offset='0.218' stop-color='%23550a13'/%3E%3Cstop offset='0.218' stop-color='%23d60204'/%3E%3Cstop offset='0.239' stop-color='%23550a13'/%3E%3Cstop offset='0.239' stop-color='%2365080e'/%3E%3Cstop offset='0.254' stop-color='%23550a13'/%3E%3Cstop offset='0.254' stop-color='%23ce0001'/%3E%3Cstop offset='0.283' stop-color='%23550a13'/%3E%3Cstop offset='0.283' stop-color='%23ce0203'/%3E%3Cstop offset='0.294' stop-color='%23550a13'/%3E%3Cstop offset='0.294' stop-color='%23670911'/%3E%3Cstop offset='0.305' stop-color='%23550a13'/%3E%3Cstop offset='0.305' stop-color='%23ed0001'/%3E%3Cstop offset='0.332' stop-color='%23550a13'/%3E%3Cstop offset='0.332' stop-color='%2373070d'/%3E%3Cstop offset='0.346' stop-color='%23550a13'/%3E%3Cstop offset='0.346' stop-color='%236d0204'/%3E%3Cstop offset='0.362' stop-color='%23550a13'/%3E%3Cstop offset='0.362' stop-color='%235a0407'/%3E%3Cstop offset='0.381' stop-color='%23550a13'/%3E%3Cstop offset='0.381' stop-color='%23700203'/%3E%3Cstop offset='0.415' stop-color='%23550a13'/%3E%3Cstop offset='0.415' stop-color='%2352050a'/%3E%3Cstop offset='0.428' stop-color='%23550a13'/%3E%3Cstop offset='0.428' stop-color='%23580912'/%3E%3Cstop offset='0.442' stop-color='%23550a13'/%3E%3Cstop offset='0.442' stop-color='%239d0509'/%3E%3Cstop offset='0.456' stop-color='%23550a13'/%3E%3Cstop offset='0.456' stop-color='%2381060b'/%3E%3Cstop offset='0.498' stop-color='%23550a13'/%3E%3Cstop offset='0.498' stop-color='%238d050a'/%3E%3Cstop offset='0.511' stop-color='%23550a13'/%3E%3Cstop offset='0.511' stop-color='%2393050a'/%3E%3Cstop offset='0.532' stop-color='%23550a13'/%3E%3Cstop offset='0.532' stop-color='%2355080f'/%3E%3Cstop offset='0.541' stop-color='%23550a13'/%3E%3Cstop offset='0.541' stop-color='%239b0204'/%3E%3Cstop offset='0.56' stop-color='%23550a13'/%3E%3Cstop offset='0.56' stop-color='%23e10102'/%3E%3Cstop offset='0.581' stop-color='%23550a13'/%3E%3Cstop offset='0.581' stop-color='%236e080f'/%3E%3Cstop offset='0.6' stop-color='%23550a13'/%3E%3Cstop offset='0.6' stop-color='%23580407'/%3E%3Cstop offset='0.618' stop-color='%23550a13'/%3E%3Cstop offset='0.618' stop-color='%2373070d'/%3E%3Cstop offset='0.656' stop-color='%23550a13'/%3E%3Cstop offset='0.656' stop-color='%23560a13'/%3E%3Cstop offset='0.679' stop-color='%23550a13'/%3E%3Cstop offset='0.679' stop-color='%23740204'/%3E%3Cstop offset='0.689' stop-color='%23550a13'/%3E%3Cstop offset='0.689' stop-color='%23750203'/%3E%3Cstop offset='0.720' stop-color='%23550a13'/%3E%3Cstop offset='0.720' stop-color='%23840000'/%3E%3Cstop offset='0.734' stop-color='%23550a13'/%3E%3Cstop offset='0.734' stop-color='%2377080f'/%3E%3Cstop offset='0.748' stop-color='%23550a13'/%3E%3Cstop offset='0.748' stop-color='%23650306'/%3E%3Cstop offset='0.764' stop-color='%23550a13'/%3E%3Cstop offset='0.764' stop-color='%239f060b'/%3E%3Cstop offset='0.788' stop-color='%23550a13'/%3E%3Cstop offset='0.788' stop-color='%237d0001'/%3E%3Cstop offset='0.808' stop-color='%23550a13'/%3E%3Cstop offset='0.808' stop-color='%23650305'/%3E%3Cstop offset='0.831' stop-color='%23550a13'/%3E%3Cstop offset='0.831' stop-color='%236b0000'/%3E%3Cstop offset='0.856' stop-color='%23550a13'/%3E%3Cstop offset='0.856' stop-color='%235b0306'/%3E%3Cstop offset='0.872' stop-color='%23550a13'/%3E%3Cstop offset='0.872' stop-color='%2351070d'/%3E%3Cstop offset='0.894' stop-color='%23550a13'/%3E%3Cstop offset='0.894' stop-color='%23a90101'/%3E%3Cstop offset='0.914' stop-color='%23550a13'/%3E%3Cstop offset='0.914' stop-color='%23830101'/%3E%3Cstop offset='0.942' stop-color='%23550a13'/%3E%3Cstop offset='0.942' stop-color='%23540407'/%3E%3Cstop offset='0.957' stop-color='%23550a13'/%3E%3Cstop offset='0.957' stop-color='%236e060b'/%3E%3Cstop offset='0.973' stop-color='%23550a13'/%3E%3Cstop offset='0.973' stop-color='%23490204'/%3E%3Cstop offset='1' stop-color='%23550a13'/%3E%3Cstop offset='1' stop-color='%234a0204'/%3E%3C/linearGradient%3E%3C/defs%3E%3Crect fill='url(%23a)' x='0' y='0' width='100%25' height='100%25'/%3E%3C/svg%3E");
	background-attachment: fixed;
	background-size: cover;
}
#head-gall {
	margin-top: 8%;
	text-transform: uppercase;
	letter-spacing: .5em;
	background-color: #141414;
	color: #eee;
}

#sideback {
	background-image: url("../images/sideback.jpg");
	background-size: contain;
}

#sideback2 {
	background-image: url("../images/sideback2.jpg");
	background-size: contain;
}

.active {
	background-color: #141414;
	border-radius: 10%;
}

/*end gallery page*/

#contact {
	background-color: #eeeeee;
	background-image: url("data:image/svg+xml,%3Csvg xmlns='http://www.w3.org/2000/svg' width='100%25' height='100%25' viewBox='0 0 1600 800'%3E%3Cg %3E%3Cpolygon fill='%23e4dada' points='800 100 0 200 0 800 1600 800 1600 200'/%3E%3Cpolygon fill='%23ddc2c2' points='800 200 0 400 0 800 1600 800 1600 400'/%3E%3Cpolygon fill='%23dba6a6' points='800 300 0 600 0 800 1600 800 1600 600'/%3E%3Cpolygon fill='%23de8686' points='1600 800 800 400 0 800'/%3E%3Cpolygon fill='%23e56161' points='1280 800 800 500 320 800'/%3E%3Cpolygon fill='%23f03737' points='533.3 800 1066.7 800 800 600'/%3E%3Cpolygon fill='%23ff0a0a' points='684.1 800 914.3 800 800 700'/%3E%3C/g%3E%3C/svg%3E");
	background-attachment: fixed;
	background-size: cover;
}

/* contact page */
/*mobile view*/
@media only screen and (max-width: 400px) {
	
	#jumbo-land {
		background-image: url("../images/pressstart.gif");
		background-size: contain;
	}
}
	}

	.btn {
		width: 50%;
	}	

	#homecard {
		padding-bottom: 10%;
	}

}

@media only screen and (min-width: 961px) {
	#sideback-m {
		padding-left: 48;
	}
	
	#sideback-m2 {
		padding-right: 48;
	}
}
/*tablet view*/
@media only screen and (min-width: 401px) and (max-width: 960px) {

	#jumbo-land {
		background-image: url("../images/pressstart.gif");
		background-size: contain;
	}

	.btn {
		width: 50%;
	}

}

/*mobile view*/
@media only screen and (max-width: 400px) {
	
	#navlogo {
		display: none;
	}
	#homenav {
		padding-left: 0;
	}

	.active {
	
	border-radius: 0%;
	}

	.nav-link {
		padding-left: 16px;
	}

	#jumbo-land {
		background-image: url("../images/pressstart.gif");
		background-size: contain;
	}

	#sideback, #sideback2 {
		display: none;
		padding: 0;
	}

	#jumbotron-About {
		display: none;
	}

	#map {
		padding: 50px 0 0 0;
		width: 100%;
		height: 100%;
	}


}

